<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css"/>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
    <link rel="stylesheet" href="styles/styles.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{&name}}</title>
</head>
<body>
<main>
    <header class="navigator">
        <nav><a href="/">Home</a></nav>
        <div style="position: relative">
            <label>
                <input type="text" placeholder="Search" id="search-box"/>
            </label>
            <div id="virtual-scroll">
            </div>
        </div>
    </header>


    <h4>{{&category}}</h4>

    <h1>{{&name}}</h1>

    <br/>

    <h2>Description</h2>

    <p>
        {{&description}}
    </p>

    <h3>URLs</h3>
    <div class="container">
        <ul>
        {{#urls}}
            <li>{{&item}}</li>
        {{/urls}}
        </ul>
    </div>

    <h3>Types</h3>
    <div class="container">
        {{#types}}
            <span class="chip">{{&item}}</span>
        {{/types}}
    </div>

    <h3>Platforms</h3>
    <div class="container">
        {{#platforms}}
            <span class="chip">{{&item}}</span>
        {{/platforms}}
    </div>

    <h2>Comments</h2>

    <p>
        {{&comments}}
    </p>
</main>

<script src="scripts/script.js" type="module"></script>

</body>
</html>
