/* stylelint-disable */
:root {
    --border-radius: 12px;
    --padding-small: 4px;
    --padding-medium: 8px;
    --padding-large: 12px;

    --primary-color-main-dark: #3f51b5;
    --primary-color-main: #5aa4ff;

    /* Light theme */
    --nc-tx-1: #000000;
    --nc-tx-2: #1A1A1A;
    --nc-bg-1: #FFFFFF;
    --nc-bg-2: #F6F8FA;
    --nc-bg-3: #E5E7EB;
    --nc-lk-1: #0070F3;
    --nc-lk-2: #0366D6;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #79FFE1;
    --nc-ac-tx: #0C4047;

    /* Dark theme */
    --nc-d-tx-1: #ffffff;
    --nc-d-tx-2: #eeeeee;
    --nc-d-bg-1: #000000;
    --nc-d-bg-2: #111111;
    --nc-d-bg-3: #222222;
    --nc-d-lk-1: #3291FF;
    --nc-d-lk-2: #0070F3;
    --nc-d-lk-tx: #FFFFFF;
    --nc-d-ac-1: #7928CA;
    --nc-d-ac-tx: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --nc-tx-1: var(--nc-d-tx-1);
        --nc-tx-2: var(--nc-d-tx-2);
        --nc-bg-1: var(--nc-d-bg-1);
        --nc-bg-2: var(--nc-d-bg-2);
        --nc-bg-3: var(--nc-d-bg-3);
        --nc-lk-1: var(--nc-d-lk-1);
        --nc-lk-2: var(--nc-d-lk-2);
        --nc-lk-tx: var(--nc--dlk-tx);
        --nc-ac-1: var(--nc-d-ac-1);
        --nc-ac-tx: var(--nc--dac-tx);
        --primary-color-main: var(--primary-color-main-dark);
    }
}

/* stylelint-enable */

.chip {
    border-radius: var(--border-radius);
    background-color: var(--primary-color-main);
    padding: var(--padding-small) var(--padding-large);
}

.page{
    margin-top: 3vh;
    position:relative;
}

.container {
    display: flex;
    flex-direction: row;
    gap: var(--padding-medium);
}

.navigator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#virtual-scroll {
    height: 300px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 3;
    visibility: hidden;
    position: absolute;
    overflow: auto;
    padding: 0 12px;
    margin-bottom: .5rem;
    background: var(--nc-bg-2); /* stylelint-disable-line */
    color: var(--nc-tx-2); /* stylelint-disable-line */
    border: 1px solid var(--nc-bg-3); /* stylelint-disable-line */
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

#search-box{
    width: 100%;
}

.message-container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.logo{
    font-weight: bold;
    font-size: 72px;
    margin-top: 27vh;
    text-align: center;
}

.logo>a{
    color: var(--nc-tx-1);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.logo>a:hover{
    color: var(--nc-bg-1);
    background: var(--nc-tx-1);
}
